<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="ApplicationName" value="Pancakes Testing Project" />
		<add key="ApplicationInstance" value="Tests" />
		<add key="CustomIntValue" value="42" />
		<add key="GlobalIdentifier" value="5FEF5408-DC13-4083-B300-258478A391D2" />
		<add key="CreatedOn" value="09/01/2013" />
	</appSettings>
</configuration>